@model SimpleAuthentication.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="centerBlock w3-centered w3-white" style="padding: 50px 16px">
    <div class="row">
        <div class="col-md-7 centerBlock">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="text-center"><b>RESET PASSWORD</b></h3>
                <hr />
                @Html.HiddenFor(model => model.Code)
                //if want to display all the vallidation messages on top, uncomment the following, then comment each ValidationMessageFor
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                <div class="col-md-10 center-block" style="float:none">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label required" })
                        <div class="col-md-8">
                            @Html.Kendo().TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 control-label required">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="col-md-8">
                            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { type = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label required" })
                        <div class="col-md-8">
                            @Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Reset" class="k-button" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
